.objects-container{
    width: 400px;
    min-height: 390px;

    margin-top: 10px;
    margin-left: 50px;
    margin-right: 40px;
    float: left;     

}
.products-forms{
    width: 300px;
    margin: auto;
    min-height: 390px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgb(158 197 204);
    border-radius: 15px;
    float: left;
    
}

.err {
    font-size: 40px;
    color: red;
}
